.cssbuttons-io-button {
  background: #1e272e;
  color: whitesmoke;
  font-family: inherit;
  padding: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  height: 1.5rem;
  padding-right: 2rem;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  border: 2px solid silver;
}

.cssbuttons-io-button .icon {
  background: #1e272e;
  margin-left: 1rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 7px -2px #000000;
  right: 0.3rem;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1rem;
  transition: transform 0.3s;
  color: whitesmoke;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
