@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.home {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home::after {
  content: "";
  background: url("../img/rainy.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
}

.box1 {
  width: 550px;
  height: 630px;
  background-color: #2f3542;
  display: flex;
  padding-top: 20px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
}

.box2 {
  width: 550px;
  height: 598px;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: whitesmoke;
}
.inputwrapper {
  display: flex;
  height: 50px;
  border: 2px solid red;
}
.input {
  height: 35px;
  width: 250px;
  outline: none;
  // border: none;
  padding-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #353b48;
  color: whitesmoke;
  border: 2px solid red;
}

.button {
  width: 70px;
  height: 35px;
  outline: none;
  // border: none;
  background-color: #353b48;
  border-radius: 5px;
  cursor: pointer;
  color: whitesmoke;
  border: 2px solid red;
}

.location {
  font-size: 50px;
  margin-top: 40px;
  color: whitesmoke;
  border: 1px solid red;
}
.derece {
  font-size: 60px;
  margin-top: 30px;
  margin-left: 10px;
  color: whitesmoke;
  border: 2px solid red;
}

.hava {
  font-size: 30px;
  margin-top: 30px;
  margin-left: 200px;
  color: whitesmoke;
  display: flex;
  gap: 20px;
  border: 2px solid red;
}

.latest {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border: 2px solid red;
}

.latest > div {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  color: whitesmoke;
  background-color: #353b48;
  border: 1px solid silver;
}

.days {
  width: 110px;
  height: 165px;
  border: 2px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}
.days > div {
  margin-bottom: 5px;
  border: 2px solid red;
}

.dayswrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 150px;
  border: 2px solid red;
}

.detailwrapper {
  font-weight: 600;
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-right: 20px;
  border: 2px solid red;
}

.detail {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  border-bottom: 3px solid rgb(63, 62, 62);
  border: 2px solid red;
}
