@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
html {
  font-size: 1rem;
}

.home {
  // background: url("../img/01n.jpg");
  // background: url("../img/01n.jpg");
  width: 100%;
  height: calc(100% - 55px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  flex-wrap: wrap;
}

.box1 {
  width: 30rem;
  height: 35rem;
  background: #1e272e;
  display: flex;
  padding-top: 2rem;
  border-radius: 1.5rem;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 7px -2px #000000;
  position: relative;
  &-inputwrapper {
    display: flex;
    height: 2.5rem;
    width: 20rem;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
  }
  &-input {
    height: 2.5rem;
    width: 14rem;
    outline: none;
    border: 2px solid silver;
    // padding-top: 0.4rem;
    padding-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: #1e272e;
    color: whitesmoke;
    display: flex;
    font-size: 1rem;

    &::placeholder {
      color: whitesmoke;
      font-size: 1rem;
    }
  }
  &-button {
    width: 5rem;
    height: 2rem;
    outline: none;
    border: 2px solid silver;
    background-color: #1e272e;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 1rem;
  }
  &-location {
    font-size: 3rem;
    margin-top: 2rem;
    color: whitesmoke;
    margin-right: 5rem;
  }
  &-latest {
    width: 90%;
    height: 3.5rem;
    margin-top: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    & > div {
      width: 7.5rem;
      height: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      cursor: pointer;
      color: whitesmoke;
      background-color: #1e272e;
      border: 2px solid silver;
    }
  }
  &-temp {
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: whitesmoke;
  }
  &-weath {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 12rem;
    color: whitesmoke;
    display: flex;
    gap: 1rem;
  }
  &-desc {
    width: 100%;
    height: 3rem;
    margin-right: 2rem;
  }
  &-iconsmall {
    width: 7rem;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 0.4rem;
  }
  input {
    padding-bottom: 0.2rem;
  }
}
