.navbar {
  width: 100%;
  height: 55px;
  background-color: #f79f1f;
  padding: 3px 20px 0px 20px;
  display: flex;
}

.ppicon {
  display: flex;
  right: 5px;
  top: 6px;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}
